<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
</head>
	<body>
		<nav>
			<%= link_to("HOME", root_path) %>
		</nav>
		<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>

		<%= yield %>

	</body>
</html>
